<ion-header class="profile_main_head">
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <div class="top_title">
      Posture Analysis
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="content1">
    <div class="main_pro_content">
    	<ion-card class="first_main_con">
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                          
                        Posture Analysis page...
                        <ion-col width-50>
                            <div id="signature-pad" class="m-signature-pad">
                                <div class="m-signature-pad--body" style="border: 1px solid red; width: 300px; height: 150px;">
                                  <canvas style="background-image:url('/assets/img/profile_pic.png')"></canvas>
                                </div>
                                <div class="m-signature-pad--footer">
                                  <button class="button clear" data-action="clear">Clear</button>
                                  <button class="button save" data-action="save">Save</button>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>