<ion-header class="profile_main_head">
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <div class="top_title">
      Posture Analysis
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="content1">
    <div class="main_pro_content">
		<div class="m-signature-pad--body" style="border: 1px solid red; width: 100%; height: 80%;">
		  <canvas id="postureCanvas" style="background-image:url('images/man.jpg')"
				  (click)="draw($event)"
				  width="480" height="450"
				  ></canvas>
		</div>
		<div class="m-signature-pad--footer">
			<button class="button clear" data-action="clear" (click)="removePostureGrid()">Prev</button>
			<button class="button save" data-action="save" (click)="drawPostureGrid()">Next</button>
		</div>
    </div>
</ion-content>