<header>
  <section class="row head-brk">
      <nav class="col s12">
          <section class="nav-wrapper"> <a href="javascript:void(0);" class="brand-logo"><img src="images/logo.png" alt=""/></a>
              <ul class="right hide-on-med-and-down">
                  <!--<li><a href="javascript:void(0);"><i class="zmdi zmdi-assignment-alert"></i></a></li>
                  <li><a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown1"><i class="zmdi zmdi-email"></i><span class="noti red">5</span></a></li>-->
                  <!-- Dropdown Trigger -->
                  <li class="admin-ac"><a href="javascript:void(0);">{{user.profile.firstName}} <i class="zmdi zmdi-account"></i></a></li>
              </ul>
          </section>
      </nav>
  </section>
  <section class="container"><a href="javascript:void(0);" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></section>
  <navbar></navbar>
</header>
